* {
    margin: 0;
    padding: 0;
}

#intro {
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 10px;
}

body {
    background-color: #eee;
}

p {
    padding-top: 4px;
    font-size: 14px;
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
}

.sub {
    font-weight: 300;
}

#not_bold {
    font-size: 14px;
    font-family: "Century Gothic", sans-serif;
    font-weight: 400;
    padding-top: 4px;
}

a {
    display: inline-block;
}

nav {
    width: 100%;
    height: 100px;
    background-color: black;
}

ul {
    list-style-type: none;
    float: right;
}

ul li {
    height: 100px;
    color: white;
    float: left;
    line-height: 100px;
}

ul li a {
    text-decoration: none;
    font-size: 16px;
    padding: 0 20px;
    color: white;
    font-family: "Century Gothic", sans-serif;
}

ul li:hover {
    text-decoration: none;
    background-color: #282828;
}

.title {
    color: black;
    font-family: "Century Gothic", sans-serif;
    font-size: 48px;
    font-weight: 300;
    text-decoration: none;
}

#logo {
    width: 60px;
    height: 70px;
    display: block;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
}

#logo:hover {
    background-color: #282828;
}

#rainbow {
    height: 3.5px;
    background-color: #33ffff;
    background-image: linear-gradient(to right, red, #ff4000, orange, #ffbf00, yellow, #bfff00, green, blue, indigo, violet, #ff00bf);
}

.wrapper {
    padding-top: 80px;
    padding-left: 250px;
    padding-right: 250px;
}

#projectWrapper {
    width: 50%;
    height: 210px;
    background-color: #282828;
    padding-left: 250px;
    padding-right: 250px;
}

#CCE {
    width: 300px;
    height: 180px;
}

th {
    font-family: "Century Gothic", sans-serif;
    color: white;
}

