:root {
    --navbar-height: 5vh;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: 'Raleway-bold';
    src: url(./fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: 'Raleway-semibold';
    src: url(./fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: 'Raleway-light';
    src: url(./fonts/Raleway-Light.ttf);
}

a {
    text-decoration: none;
}

#intro {
    width: 100%;
    height: 100vh;
    background-color: rgb(40, 38, 58);
}

#intro-content {
    margin: auto;
    padding: 35vh 0 35vh;
    width: 50%;
    height: 15vh;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.intro-text {
    font-family: 'Raleway';
    font-size: 48px;
    color: rgb(255, 255, 255);
}

#highlight {
    color: rgb(255, 0, 106);;
}

#intro-button {
    width: 30%;
    color: rgb(255, 255, 255);
    border: 2px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Raleway-light';
    font-size: 18px;
    margin: auto;
    transition: background-color .5s ease;
}

#intro-button i {
    margin-left: 10px;
}

#intro-button:hover {
    background-color: rgb(54, 214, 235);
    border: 2px solid rgb(54, 214, 235);
}

#intro-button:hover i {
    transform: rotate(90deg);
    transition: transform .3s linear;
}

nav {
    height: 5vh;
    background-color: rgb(54, 51, 78);
}

#nav-menu {
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
}

.nav-link {
    text-align: center;
    font-family: 'Raleway-light';
    color: rgb(255, 255, 255);
    padding: 0px 25px 0px;
    font-size: 22px;
    line-height: 5vh;
    flex-grow: 1;
}

.nav-link a {
    color: rgb(255, 255, 255);
}

.nav-link a:hover {
    color: rgb(255, 0, 106);
}


#line {
    width: 100%;
    height: 1px;
    background-color: rgb(255, 0, 106);
    margin: auto;
}

#main-page {
    height: 100vh;
}

#contact {
    height: 100vh;
}

#contact-info {
    height: calc(100vh - var(--navbar-height) - 1px); /*subtract height on nav-bar and line*/
    background-color: red;
}